@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&family=Nabla&family=Tilt+Warp&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DynaPuff', cursive;
}

body{
    background-color: black;
    color: aliceblue;
    font-weight: bolder;
}

header{
    background-color: rgb(121, 121, 121);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    font-size: 40px;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    font-family: 'Nabla', cursive;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}

.instrucciones{
    margin-bottom: 2rem;
}

.marcador{
    background-color: cadetblue;
    padding: 1rem 2rem;
    border-radius: 1rem;
    position: relative;
    align-items: center;
    margin-bottom: 2rem;
}

.marcador .nombre{
    position: absolute;
    background-color: brown;
    line-height: 1;
    padding: .5rem;
    border-radius: .5rem;
    border: 2px solid;
}

.marcador .nombre-jugador{
    right: 85%;
}

.marcador .nombre-computadora{
    left: 85%;
}

.marcador .puntos{
    font-size: 1.2rem;
}