@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&family=Nabla&family=Tilt+Warp&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DynaPuff', cursive;
}

body{
    background-color: black;
    color: aliceblue;
    font-weight: bolder;
}

header{
    background-color: rgb(121, 121, 121);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    font-size: 40px;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    font-family: 'Nabla', cursive;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}

.instrucciones{
    margin-bottom: 2rem;
}

.marcador{
    display: flex;
    background-color: cadetblue;
    padding: 1rem 2rem;
    border-radius: 1rem;
    position: relative;
    align-items: center;
    margin-bottom: 2rem;
}

.marcador .nombre{
    position: absolute;
    background-color: brown;
    line-height: 1;
    padding: .5rem;
    border-radius: .5rem;
    border: 2px solid;
}

.marcador .nombre-jugador{
    right: 85%;
}

.marcador .nombre-pc{
    left: 85%;
}

.marcador .puntos{
    font-size: 1.2rem;
}

.elegir-arma{
    margin-bottom: 2rem;
}

.elegir-arma h2{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: .5rem;
}

.armas{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.arma{
    font-size: 2rem;
    background-color: beige;
    border: 0;
    border-radius: .5rem;
    cursor: pointer;
}

.mensaje{
    margin-bottom: 2rem;
    line-height: 1.8;
}

.mensaje .eleccion{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
border-radius: .25rem;
padding-inline: .25rem;
}

.btn{
    border: 0;
    line-height: 1;
    background-color: rgb(125, 255, 212);
    color: rgb(0, 0, 0);
    font-size: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}

.disabled{
    display: none;
}